@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  line-height: 170%;
  font-family: 'JetBrainsMono', sans-serif;
}

.content {
  max-width: 100ch;
}

ol {
  /* Override theme's 1.2rem setting. */
  padding-left: 2rem !important;
}
